.header {
  padding: 5px 10px;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .statistics {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .logo_pic_content, .amount, .today_amount, .upload_amount {
    display: flex;
    align-items: center;
    justify-content: center;
    .logo_pic {
      width: 3.8vw;
      height: 3.8vw;
      margin-right: 0.3vw;
    }
  }
  .logo_pic_content {
    font-size: 1.1vw;
    color: #fff;
  }
  .up_icon, .down_icon {
    height: 25px;
    margin-right: 5px;
  }
  .amount {
    font-size: 2.8vw;
    color: #50E3C2;
  }
  .today_amount {
    font-size: 2.8vw;
    color: #D3219A;
  }
  .upload_amount {
    font-size: 2.8vw;
    color: #F5A623;
  }
  .white_line {
    width: 0.08vw;
    height: 10vh;
    background: linear-gradient(to bottom ,rgba(255, 255, 255, 0.1) ,rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.8), #fff, rgba(255, 255, 255, 0.8),rgba(255, 255, 255, 0.6),rgba(255, 255, 255, 0.1));
  }
}