.app_content {
  background: url("../images/bg.png") no-repeat;
  background-size:100% 100%;
  .content {
    height: 89.5vh;
    padding: 5px;
    .bg_border {
      height: 100%;
      border: 1px solid rgba(80, 227, 194, 0.2);
      background-color: rgba(0, 0, 0, 0.13);
    }
    .interface_container {
      height: 56%;
      padding: 5px;
    }
    .data_container {
      height: 44%;
      padding: 0 5px 10px;
    }
    .service_container {
      height: 44%;
      padding: 0 5px 10px 0;
    }
    .real_time_container {
      height: 100%;
      padding: 5px 5px 10px;
    }
  }
}
